.DS_Store
*~
*.swp

# Emacs: Ignore files created automatically:

/home/.emacs.d/config.el
/home/.emacs.d/custom.el
/home/.emacs.d/elpa/
/home/.emacs.d/bookmarks
/home/.emacs.d/snippets/
/home/.emacs.d/network-security.data
/home/.emacs.d/projectile-bookmarks.eld
