[user]
    name = Gonz Saavedra
    email = gonzalosaavedra@gmail.com
[color]
    ui = auto
[alias]
    tree = log --pretty='%Cgreen%h%Creset [%ai] %s %Cred<%Creset%an%Cred>' --decorate --graph
[branch]
    autosetupmerge = always
    autosetuprebase = always
[push]
    default = simple
